
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subscriptions</title>
  <link rel="stylesheet" href="./../style.css" />
</head>
<body>

  <h1><%= subscription.name %></h1>

  <h3><%= subscription.description %></h3>

</body>
</html>